convert_data.py
jss.xlsx
backup.json
full_school_backup.json
DRAFT  COPY STUDENT LEADERS.pdf
~$jss.xlsx
Python_Version/fix_genders.py
access_keys.txt
generate_full_backup.py
Python_Version/backup (1).json
Python_Version/voting_system.db
generate_full_backup.py
backup (2).json
generate_full_backup.py