convert_data.py
jss.xlsx
backup.json
full_school_backup.json
DRAFT  COPY STUDENT LEADERS.pdf
~$jss.xlsx
Python_Version/fix_genders.py
access_keys.txt
generate_full_backup.py
Python_Version/backup (1).json
Python_Version/voting_system.db
generate_full_backup.py
backup (2).json
generate_full_backup.py
algocracyVotingjss4.html
GRADE 10 SENIOR BOYS.xlsx
generate_full_backup.py
~$GRADE 10 SENIOR BOYS_converted.xlsx
convert_file.py
generate_full_backup.py
GRADE 10 SENIOR BOYS_converted.xlsx
Milgate/generate_milgate_backup.py
Python_Version/voting_system.db
Milgate/~$final_milgate.xlsx
Milgate/CamScanner 02-11-2026 13.45.pdf
Milgate/CamScanner 02-11-2026 13.47.pdf
Milgate/final_milgate.xlsx
Milgate/G1 B.xlsx
Milgate/G1 R.xlsx
Milgate/G2.xlsx
Milgate/G3 B.xlsx
Milgate/G3 R.xlsx
Milgate/G4.xlsx
Milgate/G5.xlsx
Milgate/G6.xlsx
Milgate/G7.xlsx
Milgate/G8.xlsx
Milgate/G9.xlsx
generate_full_backup.py
generate_full_backup.py
kisc-athi-river/Final_KISC_ATHI.xlsx
kisc-athi-river/NOMINEE - for merge.docx
generate_full_backup.py
generate_full_backup.py
kisc-athi-river/backup (1).json
Python_Version/voting_system.db
Python_Version/voting_system.db
